[submodule "user-microservice"]
	path = user-microservice
	url = https://10.10.0.50:9443/moviemicorservices/user-microservice
[submodule "rating-microservice"]
	path = rating-microservice
	url = https://10.10.0.50:9443/moviemicorservices/rating-microservice
[submodule "movie-microservice"]
	path = movie-microservice
	url = https://10.10.0.50:9443/moviemicorservices/movie-microservice
[submodule "ui-search"]
	path = ui-search
	url = https://10.10.0.50:9443/moviemicorservices/ui-search
